*{
    margin: 0;
}
#topoInstaCall{
    -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
font-size:1.2em;
background:rgb(30, 160, 219);
background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(255, 255, 255));
    background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
        background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
            background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));

position: relative;
top: 0;
left: 0;
right: 0;
height: 55px;
}

.insta{
    color: rgb(255, 255, 255);
    font-family: 'Cookie', cursive;
    font-size: 200%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.call{
    color: rgb(0, 0, 0);
    font-family: 'Cookie', cursive;
}

.painel{
    width: 300px;
    float: left;
}

.borda{
    border: 2px solid black;
    border-radius: 12px;
    height: 590px;
    width: 1000px;
    margin-top: 10px;
    float: left;
}

#fundoCinza{
    background-color: rgb(240, 240, 240);
}

.logoSociesc{
    width: 160px;
    margin-top: 10px;
}

.fonteAtividade{
    font-size: 45px;
    font-family: 'Cookie', cursive;
    text-align: center;
    width: 100%;
}

.botao{
    width: 170px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 17px;
    font-weight: 100px;
}


.botao:hover{
    color: white;
    -moz-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
            transition: all 1.5s ease;
    background:rgba(30, 159, 219, 0.5);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                        background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
    
}

.tabelaDentro{
    width: 100%;
    border-radius: 12px;
}

td {
    border: 1px black solid;
    border-radius: 12px;
}

.tabelaDentro tr:hover{
    border-radius: 12px;
    color: rgb(0, 0, 0);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    background:rgba(30, 159, 219, 0.5);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                        background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
}

#direita{
    text-align: right;
}

.emDia p{
    font-weight: bolder;
    color: green;
}

.emAtraso p{
    font-weight: bolder;
    color: red;
}

.tabela{
    position: relative;
}

.tabela>div{
    float: left;
    margin: 5px;
    border-radius: 12px;
}

.tabelaProf{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 300px;
}

.tabelaNome{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    width: 300px;
}

.tabelaDesc{
    padding: 3px;
    word-break: break-all;
    width: calc(100% - 17px);
    margin-right: 10px;
    background-color: white;
    border: 1px solid black;
}

.tabelaData{
    float: right !important;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 0 10px;
}

.tabelaId{
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
}

.titulo{
    font-weight: bold;
}

@media screen and (max-width:600px) {

    .painel{
        width: 100%;
    }

    #topoInstaCall{
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
        font-size:1.2em;
        background:rgb(30, 160, 219);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(255, 255, 255));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                    background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                        background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
        width: 900px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 55px;
    }

    .fonteAtividade{
        font-size: 70px;
        left: 75px;
    }
    
    .botao{
        width: 280px;
        height: 40px;
        font-size: 25px;
        border: 1px solid black;
        left: 50px;
    }

    .logoSociesc{
        width: 200px;
    }

    .borda{
        height: 100%;
        width:350px;
        padding: 3px;
    }

    .tabelaData{
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .tabelaProf{
        width: calc(100% - 15px);
    }

    .tabelaNome{
        width: calc(100% - 17px);
    }

}