*{
    margin: 0;
}
#topoInstaCall{
    -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
font-size:1.2em;
background:rgb(30, 160, 219);
background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(255, 255, 255));
    background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
        background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
            background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));

position: relative;
top: 0;
left: 0;
right: 0;
height: 55px;
}

.insta{
    color: rgb(255, 255, 255);
    font-family: 'Cookie', cursive;
    font-size: 200%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.call{
    color: rgb(0, 0, 0);
    font-family: 'Cookie', cursive;
}

#fundoCinza{
    background-color: rgb(240, 240, 240);
    
}
.logoSociesc{
    width: 160px;
    margin-top: 10px;
    position: fixed;
}

.fonteAtividade{
    font-size: 45px;
    top: 30px;
    font-family: 'Cookie', cursive;
    position: relative;
    left: 120px;
}

.tamanho{
    font-size: 17px;
   width: 160px;
   position: relative;
   left: 110px;
   font-weight: 100px;
}

.botao{
   
    width: 160px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 17px;
    position: relative;
    left: 110px;
    font-weight: 100px;
}


.botao:hover{
    color: white;
    -moz-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
            transition: all 1.5s ease;
    background:rgba(30, 159, 219, 0.5);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                        background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
}

.borda{
    border-radius: 12px;
    border: 1px solid black;
    height: 590px;
    left: 315px;
    top: 60px;
    position: fixed;
    overflow: scroll;
}

.tabela{
    margin-top: 30px;
}

.tabelaDentro{
    width: 100%;
    border-radius: 10px;
}

td {
    position: relative;
    border-radius: 12px;
    border: 1px black solid;
    padding: 3px;
    background-color:  rgb(240, 240, 240);
}

.tabelaProfChamada{
    border-radius: 12px;
    background-color: rgb(139, 139, 139);
}

.tabelaProfChamada td:hover{
    color: rgb(0, 0, 0);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    background:rgba(30, 159, 219, 0.5);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                        background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
}

table { border-spacing: 5px; }


.tabelaProf{
    background-color: white;
    position: absolute;
    border-radius: 12px;
    left: 110px;
    top: 1%;
    border: 1px solid black;
    text-align: center;
    width: 300px;
}

.tabelaNome{
    
    border: 1px solid black;
    border-radius: 12px;
    position: relative;
    background-color: white;
    top: 100%;
    text-align: center;
    margin-top: 35px;
    width: 295px;
    font-size: 17px;
    padding: 3px;

}

.tabelaDesc{
    padding: 3px;
    position: absolute;
    border-radius: 12px;
    width: 174px;
    margin-left: 120px;
    background-color: white;
    border: 1px solid black;
    height:20px;
    text-align: center;
    padding: 3px;
    font-size: 17px;
}

.tabelaData{
    font-size: 17px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 12px;
    position: absolute;
    background-color: white;
    text-align: center;
    padding: 3px;
    width: 100px;
    height:20px;
}

.titulo{
    font-weight: bold;
}

@media screen and (max-width:600px) {
    #topoInstaCall{
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
        font-size:1.2em;
        background:rgb(30, 160, 219);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(255, 255, 255));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                    background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                        background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
        width: 900px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 55px;
    }

    .fonteAtividade{
        font-size: 70px;
        left: 50px;
    }
    

    #data{
        width: 250px;
        font-size: 25px;
        border-radius: 20px;
        left: 50px;
    }
    .botao{
        width: 250px;
        height: 40px;
        font-size: 25px;
        border: 1px solid black;
        left: 50px;
    }

    .logoSociesc{
        position: fixed;
        width: 200px;
    }

    .borda{
        position: relative;
        width: 354px;
        left: 3px;
        height: auto;
        overflow: auto;
    }

    .tabelaProfChamada{
        width: 100%;
        height: auto;
        position: relative;
    }

    .tabelaData{
        top: 3px;
        text-align: center;
        font-size: 25px;
        width: 150px;
        position: absolute;
        height: auto;
    }

    .tabelaNome{
        width: 330px;
        font-size: 25px;
        position: relative;
        top:13px;
        height: auto;
    }

    .tabelaDesc{
        top:3px;
        font-size: 25px;
        width: 160px;
        left: 50px;
        position: absolute;
        height: auto;
    }
    
    td {
        height: 130px;
    }
}