*{
    margin: 0;
}
#topoInstaCall{
    -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
font-size:1.2em;
background:rgb(30, 160, 219);
background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(255, 255, 255));
    background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
        background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
            background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));

position: relative;
top: 0;
left: 0;
right: 0;
height: 55px;
}

.insta{
    color: rgb(255, 255, 255);
    font-family: 'Cookie', cursive;
    font-size: 200%;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.call{
    color: rgb(0, 0, 0);
    font-family: 'Cookie', cursive;
}

#fundoCinza{
    background-color: rgb(240, 240, 240);
    
}
.logoSociesc{
    width: 160px;
    margin-top: 10px;
    position: fixed;
}

.fonteAtividade{
    font-size: 45px;
    top: 30px;
    font-family: 'Cookie', cursive;
    position: relative;
    left: 120px;
}

.botao{
    top: 40px;
    width: 160px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 17px;
    position: relative;
    left: 110px;
    font-weight: 100px;
}


.botao:hover{
    color: white;
    -moz-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
        -o-transition: all 1.5s ease;
            transition: all 1.5s ease;
    background:rgba(30, 159, 219, 0.5);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                        background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
}

.borda{
    border: 1px solid black;
    height: 590px;
    width: 1000px;
    left: 315px;
    top: 60px;
    position: fixed;
    overflow: scroll;
}

td {
    border: 1px solid black;
    border-radius: 12px;
}

.tabelaDentro{
    width: 100%;
    border-radius: 10px;
}

.tabelaDentro tr:hover{
    color: rgb(0, 0, 0);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    background:rgba(30, 159, 219, 0.5);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                        background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
}

.emAtraso p{
    font-weight: bolder;
    color: red;
}

.tabelaProf{
    background-color: white;
    position: absolute;
    border-radius: 12px;
    left: 110px;
    top: 1%;
    border: 1px solid black;
    text-align: center;
    width: 300px;
}

.tabelaNome{
    float: left;
    border: 1px solid black;
    border-radius: 12px;
    position: relative;
    background-color: white;
    top: 100%;
    text-align: center;
    margin-top: 20px;
    width: 300px;
    left: 110px;
}

.tabelaDesc{
    padding: 3px;
    word-break: break-all;
    width: 850px;
    position: relative;
    border-radius: 12px;
    top: 10px;
    margin-left: 110px;
    background-color: white;
    border: 1px solid black;
}

.tabelaData{
    float: right;
    border: 1px solid black;
    border-radius: 12px;
    position: relative;
    background-color: white;
    top: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    font-weight: bolder;
}

.tabelaId{
    position: relative;
    width: 100px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    top: 1%;
    border: 1px solid black;
    text-align: center;
}

.titulo{
    font-weight: bold;
}
